/*Styling for App.js*/
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    overflow: auto;
    height: 100%; /* Add this line */
}


.filter-bar-container {
    width: 300px; /* Adjust width as needed */
    flex: 0.005 0 auto;
    display: flex;
    justify-content: center;
}

.map-container {
    flex: 1; /* Grow to fill remaining space */
    width: 100%;
    height: 100%;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
}

/*Styling for NavBar.js*/
body {
    background-color: #E6E5E3;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 10px;
    overflow: hidden;
    border-bottom: solid 5px #b0c4de;
    border-width: 2px;
}

.logo {
    width: 90px; /* Adjust the width and height as needed */
    height: 40px;
    margin-right: 20px; /* Add some margin between the logo and the navigation menu */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; /* Add some margin to separate from the content above */
}

.navbar a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
}

.navbar a:hover {
    color: #D64309;
}

.navbar a.active {
    color: #D64309;
}

.navbar a.active:hover {
    color: #D64309;
}

/*Styling for Footer.js*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Example background color */
    height: 50px; /* Example height */
    border-top: solid 5px #b0c4de;
    border-width: 2px;
    /* width: 100%;
    flex-shrink: 0;
    position: fixed;
    bottom: 0; */
}

.bsu-logo {
    width: 80px;
    height: 40px;
}

.separator {
    margin: 0 10px; /* Adjust spacing as needed */
}

.important-notice-title {
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #0033A0;
}

.important-notice-title:hover {
    color: darkblue;
}

.important-notice {
    position: absolute;
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 9999; /* Ensure the popup appears above other content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

/*Styling for FilterBar.js*/
.filter-bar {
    padding: 5px 10px 0px 10px;
    border: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.filter-group-horiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 10px; */
}

.filter-label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.dropdown select {
    width: 275px;
    padding: 5px;
    font-size: 16px;
    color: black;
}

.filter-bar .dropdown option:disabled {
    color: darkgray;
}

.filter-bar select option {
    color: black;
}

.filter-bar option[selected] {
    color: black;
}

#getme {
  font-size: 12pt;
}

.error-message {
    background-color: red;
    color: white;
    padding: 5px 10px; /* Padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    margin-top: 5px; /* Add some space between error messages */
}

.variable-description {
    font-size: 14px; /* Adjust the font size as needed */
    color: black; /* Set text color to black */
    background-color: #f0f0f0; /* Set background color to light gray */
    padding: 10px; /* Add padding for better spacing */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    margin-top: 10px; /* Add some margin at the top */
}

.filter-bar button {
    background-color: #0033A0;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-bar button:hover {
    background-color: darkblue;
}

.button-options {
    display: flex;
    justify-content: space-evenly;
}

.download-section {
    margin-top: 20px;
}

/*Styling for Data.js*/
.data-container {
    display: flex;
    align-items: flex-start;
}



/*Styling for Compare.js*/
.compare-container {
    display: flex;
    justify-content: center;
}

.comparison {
    flex-direction: row;
    justify-content: space-evenly;
}
.left-section,
.right-section {
    flex: 1;
}

.compare-map-container {
    max-width: 95%;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.compare-map-container .map {
    max-width: 100%;
    max-height: 100%
}

.compare-controls {
    display: flex;
    flex-direction: row; /* Change flex direction to row */
    align-items: center; /* Vertically center the items */
    justify-content: space-evenly; /* Horizontally center the items */
    padding: 0% 25% 0% 25%;
}
.compare-item {
    margin: 10px auto;
}

.opacity-compare {
    /* margin-left: 30px; Add some space between the button and the slider */
}

.compare-buttons {
    justify-content: space-between;
}

.compare-page button {
    background-color: #0033A0;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
}

.compare-page button:hover {
    background-color: darkblue;
}

/*Styling for About.js*/
.project-header h2 {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.project-plan {
    display: flex;
    flex-direction: row;
    padding: 3%;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.project-plan h2 {
    font-size: 20px;
    text-align: center;
    align-self: center;
    padding: 2px;
    width: fit-content;
}

.project-plan h3 {
    font-size: 18px;
    text-align: center;
    align-self: center;
    padding: 2px;
    width: fit-content;
}

p {
    text-align: center;
    width:inherit;
    margin: 10px;
    border-color: rgb(200, 200, 200);
    border-style:ridge;
    border-width:thin;
    padding: 2px;
    box-shadow: 0 8px 40px -12px rgba(0, 51, 160, 0.5);
    line-height: 1.5;
}

.deliverable-list li {
    margin-bottom: 5px;
    text-align: left;
}

.requirements-list {
    list-style-type: disc;
}

.requirements-list li {
    margin-bottom: 5px;
    text-align: left;
}

.requirements-list .tab {
    list-style-position: inside;
}

.left-side{
    flex: 40%;
}
.right-side {
    flex: 40%;
}

.popup-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend-color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
}

/*Admin.js styling*/
.login-container {
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.error-message {
    background-color: red;
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px
}

.error-message p {
    margin: 0;
    border: none;
}

.hidden {
    display: none;
}

label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #0033A0;
    color: white;
    cursor: pointer;
    margin: 5px auto;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
